body {
  margin: 0;

font-family: 'Space Grotesk', sans-serif;
font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
width: 100%;}
  html {
  color: hsl(278, 68%, 11%);
  position: absolute;
  height:100%; 
  width: 30%;
  /* background-position: center center; */
  background-size: cover;
  background: url('./assets/images/bg-main-desktop.png') repeat-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 375px){ 
  html {
    background: url('./assets/images/bg-main-mobile.png') no-repeat ;
    background-size: cover;
    height: 380px;
    width: 100%;
    overflow: hidden;
  }
}

